<%= render partial: "shared/header" %>
<div class="container" width="100%">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Service No</div>
      <div class="col col-2">Model Name</div>
      <div class="col col-3">Vehicle Number</div>
      <div class="col col-4"> Service Date </div>
      <div class="col col-5">Service Status</div>
      <div class="col col-4">Technician Id</div>
      <div class="col col-6">Delete Booking</div>
    </li>
    <% @service_records.each do |service_record| %>
        <li class="table-row">            
            <div class="col col-1" data-label="Service Id"><%= service_record.id %></div>
            <div class="col col-2" data-label="Model Name"><%= service_record.vehicle.vehicle_modal %></div>
            <div class="col col-3" data-label="Vehicle Number"><%= service_record.vehicle.vehicle_number %> </div>
            <div class="col col-4" data-label="Service Date"><%= service_record.start_date %></div>
            <div class="col col-5" data-label="Status"><%= service_record.status %></div>  
            <div class="col col-4" data-label="Service Date"><%= service_record.primary_technician&.user_name%></div>
            <div class="col col-6" data-label="Delete Booking">
              <div class="buttoncontainer">
                  <a class="button" href="/service/delete/<%= service_record.id %>/check" style="--color:red;">Cancel</a>
              </div>
            </div>       
        </li>
     <% end %>
  </ul>
</div>