<%= render partial: "shared/employeeheader" %>
<div class="container" width="100%">
  <ul class="responsive-table">
    <li class="table-header">
        <div class="col col-1">Customer Name</div>
        <div class="col col-2">Service Id</div>
        <div class="col col-3">Primary Technician</div>
        <div class="col col-4">Vehicle Number</div>
        <div class="col col-5">Start date</div>
        <div class="col col-6">End date</div>
        <div class="col col-7">Status</div>
        <div class="col col-8">Update Status</div>
    </li>
    <% @service_handlers.each do |service_handler| %>
        <li class="table-row"> 
            <% @user_name = UserLogin.find_by(id: service_handler.user_id).user_name %> 
            <div class="col col-1" data-label="User Id"><%=  @user_name %></div>   
            <div class="col col-2" data-label="Service Id"><%= service_handler.servicerequest_id %></div>
            <div class="col col-3" data-label="Primary Technician"><%= service_handler.servicerequest.primary_technician&.user_name%></div>
            <div class="col col-4" data-label="Vehicle Number"><%= service_handler.vehicle_number %></div>
            <div class="col col-5" data-label="Start Date"><%= service_handler.servicerequest.start_date %></div>
            <div class="col col-6" data-label="End Date"><%= service_handler.servicerequest.end_date %></div>
            <div class="col col-7" data-label="Status"><%= service_handler.servicerequest.status %></div>
            <div class="col col-8" data-label="Update Status">
              <div class="buttoncontainer">
              <i class="fa-regular fa-money-bill-1 fa-xl" style="color: #0b3783;"></i>
                  <a class="button" href="/status/serviceid/<%= service_handler.servicerequest_id %>" style="--color:#1e9bff;">Update</a>
              </div> 
            </div>
        </li>
     <% end %>
  </ul>
</div>