<%= render partial: "shared/adminheader" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>  
   
  <div class="container-box">
  <form class="mx-auto col-10 col-md-8 col-lg-6" action="/serviceassigned/<%= params[:id] %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <div class="form-group">
    <label for="exampleInputEmail1">Service No</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= params[:id] %>" placeholder="Enter name" required>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Primary Technician</label>
    <%= select_tag 'servicerequest[primary_technician_id]', options_for_select(UserLogin.where(role: 'employee').map { |c| [c.email, c.id] }), { include_blank: 'Select', class: "form-control", required: true } %>
  </div> 
  <div class="form-group">
    <label style="display: flex;" for="exampleInputPassword1">Secondary Technicians  <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>  </label>
   <div class="input-group control-group after-add-more"> 
          <%= select_tag 'servicehandler[subhandler][]', options_for_select(UserLogin.where(role: 'employee').map { |c| [c.email, c.id] }), { include_blank: 'Select', class: "form-control", required: true } %>
          <div class="input-group-btn">   
          
          </div>  
        </div>  
        <div class="copy hide">  
          <div class="control-group input-group" style="margin-top:10px">  
          <%= select_tag 'servicehandler[subhandler][]', options_for_select(UserLogin.where(role: 'employee').map { |c| [c.email, c.id] }), { include_blank: 'Select', class: "form-control", required: true } %>
            <div class="input-group-btn">   
              <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> Remove</button>  
            </div>  
          </div>  
        </div>  
  </div>
  

  <button type="submit" class="btn btn-primary">Submit</button>
  <%= javascript_include_tag 'addField' %>
   <%= javascript_include_tag 'fields' %>
</form>
</div>


