<%= form_for @user, action: :set_credentials do |f| %>
<div class="form-group">
  <%= f.label :user_name %>
  <%= f.text_field :user_name, class: "form-control" %>
  </div>
<div class="form-group">
  <%= f.label :phone_no %>
  <%= f.text_field :phone_no, class: "form-control" %>
  </div>

<%= f.hidden_field :id , value: userId%>
    <%= f.submit "Submit" %>r
<% end %>