<%= stylesheet_link_tag 'paymentbutton' %>
<%= render partial: "shared/header" %>
<div class="container" width="100%">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Payment Id</div>
      <div class="col col-3">Vehicle Number</div>
      <div class="col col-4">Service no</div>
      <div class="col col-5">Service Status</div>
      <div class="col col-5">Payment Status</div>
      <div class="col col-6">Amount</div>
      <div class="col col-6">Pay</div>
    </li>
    <% @userpayments.each do |userpayment| %>
        <li class="table-row">            
            <div class="col col-1" data-label="Payment Id"><%= userpayment.id %></div>
            <div class="col col-3" data-label="Vehicle Id"><%= userpayment.vehicle&.vehicle_number %> </div>
            <div class="col col-4" data-label="Service no"><%= userpayment.servicerequest_id %></div>
            <div class="col col-5" data-label="Service Status"><%= userpayment.servicerequest.status %></div>  
            <div class="col col-5" data-label="Payment Status"><%= userpayment.payment_status%></div>  
            <div class="col col-6" data-label="Amount"><%= userpayment.amount %></div>    
            <div class="col col-6">
              <button class="btn third" onclick="location.href='/payments/<%= userpayment.id %>/check';">Pay <%= userpayment.amount %></button> 
            </div> 
        </li>
     <% end %>
  </ul>
</div>