<%= render partial: "shared/header" %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>      
      <th>Color</th>
      <th>Vehicle number</th>
      <th>Service Date</th>
      <th>Update</th>
      <th>Delete Vehicle</th>
      <th>Book</th>
    </tr>
  </thead>
  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.make%></td>
        <td><%= vehicle.vehicle_modal %></td>        
        <td><%= vehicle.color%></td>
        <td><%= vehicle.licence_number%></td>
        <td><%= vehicle.purchase_date%></td>
        <td><%= link_to "Edit", "/vehicles/#{vehicle.id}/edit" %></td>
        <td><%= link_to "Delete", "/vehicle/delete/#{vehicle.id}", method: :delete, data: { confirm: "Are you sure?" } %></td>
        <td><%= link_to "Book Service", "/service/add/#{vehicle.id}/dates" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

