<%= render partial: "shared/header" %>

<div class="container" width="100%">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Brand</div>
      <div class="col col-2">Model</div>
      <div class="col col-3">Color</div>
      <div class="col col-4">Vehicle number</div>
      <div class="col col-5">Purchase Date</div>
      <div class="col col-6">Update</div>
      <div class="col col-7">Delete Vehicle</div>
      <div class="col col-8">Book</div>
    </li>
    <% @vehicles.each do |vehicle| %>
        <li class="table-row">            
            <div class="col col-1" data-label="Brand"><%= vehicle.make %></div>
            <div class="col col-2" data-label="Model"><%= vehicle.vehicle_modal %></div>
            <div class="col col-3" data-label="Color"><%=  vehicle.color %> </div>
            <div class="col col-4" data-label="Vehicle number"><%=vehicle.vehicle_number %></div> 
            <div class="col col-5" data-label="Service Date"><%=vehicle.purchase_date %></div> 
            <div class="col col-6" data-label="Update">
              <div class="buttoncontainer">
                <a class="button" href="/vehicles/<%= vehicle.id %>/edit" style="--color: #FFF44F; font-weight: bolder;">Edit</a>
              </div>            
            </div>    
            <div class="col col-7" data-label="Delete Vehicle">
              <div class="buttoncontainer">
                <a class="button" href="/vehicle/delete/<%= vehicle.id %>" style="--color:red;" data-turbo="true" data-turbo-method="delete" data-confirm="Are you sure?">Delete</a>
              </div> 
            </div> 
            <div class="col col-8" data-label="Book">
            <div class="buttoncontainer">
                  <a class="button" href="/service/add/<%= vehicle.id %>/check" style="--color:#1e9bff;">Book</a>
            </div>  
            </div>       
        </li>
     <% end %>
  </ul>
</div>
