<%= render partial: "shared/adminheader" %>
<div class="container" width="100%">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Service Id</div>
      <div class="col col-2">Primary Technician</div>
      <div class="col col-3">Secondary Techncians</div>
      <div class="col col-4">Start Date</div>
      <div class="col col-5">End Date</div>
      <div class="col col-6">Status</div>
      <div class="col col-7">Modify</div>
    </li>
    <% @service_handlers.each do |service_handler| %>
        <li class="table-row">            
            <div class="col col-1" data-label="Service Id"><%= service_handler.servicerequest_id %></div>
            <div class="col col-2" data-label="Primary Technician"><%= service_handler.servicerequest.primary_technician&.user_name%></div>
            <div class="col col-3" data-label="Secondary Techncians"><%= service_handler.employee&.user_name%></div>
            <div class="col col-4" data-label="Start Date"><%= service_handler.servicerequest.start_date %></div>
            <div class="col col-5" data-label="End Date"><%= service_handler.servicerequest.end_date %></div>
            <div class="col col-6" data-label="Status"><%= service_handler.servicerequest.status %></div>
            <div class="col col-7" data-label="Modify">
            
            <div class="buttoncontainer">
                <a class="button" href="/service/edit/<%= service_handler.id %>/check" style="--color:#1e9bff;">Edit</a>
            </div>            
            </div>  
        </li>
     <% end %>
  </ul>
</div>